body{
    border: 0px;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    min-height: 100vh;
    min-width: 50vw;
    font-family: "Outfit", sans-serif;
    position: relative;
    background-color:rgb(37, 0, 0);
    display: flex;
    flex-direction:row;

}
.titulo-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 5vh;
    
}
.input-login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
    height: 50px;
    width: 100%;
    border-color: transparent;
    background-color:rgb(236, 236, 236) ;
    padding-left: 10px;
}
.div-login-pais{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: "Outfit", sans-serif;
    background-color: aliceblue;
    
}
.entrar-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: rgb(255, 255, 255);
    margin-right:auto ;
    margin-left: auto;
    font-family: "Outfit", sans-serif;
    
}
.formulario-login{
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 10vh;


}
.formulario-login-int{
    background-color: rgb(255, 255, 255);
    margin-right:auto ;
    margin-left: auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
h1{
    font-size: 2rem;
}
form{
    width: 400px 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
form > div{
    display: flex;
    justify-content: center;
    width: 100%;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: rgb(37, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    width: 50%;
    border: 2px rgba(37, 0, 0, 0) solid;
    background-color: rgb(236, 236, 236);
    padding: 1em;
    font-family: "Outfit", sans-serif;
    transition: ease 0.5s;
}
form input:hover{
    border: 2px rgb(37, 0, 0) solid;
}
form input:focus{
    outline-offset: none;
    border-color: rgb(75, 75, 75);
}
div:has(input:focus) > label {
    outline-offset: none;
    border-color: rgb(75, 75, 75);
    background-color:rgb(75, 75, 75) ;
    transition: ease 0.5s;
}
.entrar-botao{
    background-color:rgb(37, 0, 0) ;
    color: white;
    border: none;
    border-radius: 40px;
    height: 50px;
    width: 50%;
    font-size:larger;
    transition: ease-in-out 0.5s;

}
.entrar-botao:hover{
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 40px;
    height: 60px;
    width: 60%;
    font-size:larger;
    transition: ease-in-out 0.5s;
    cursor: pointer;

}
@media screen {
    .formulario-login{
        width: min(600px, 100%) ;
        border-radius: 0%;
    }
}
form div.incorreto label{
    background-color: red;
}

form div.incorreto input{
    border-color: red;
}
.aviso{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avisotexto{
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-weight: 300;

}
.placeholderrado::placeholder {
    color: red;
  }

.image-fader {
    width: 100vw;
    height: 100vh;
    position:absolute;
    background-color: rgb(37, 0, 0);
    z-index: -99;
  }
  
  .image-fader img {
    position:absolute;
    transform: translate(40vw);
    object-fit:cover;
    width: 60vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    animation-name: imagefade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 36s;
    z-index: 1;
  }
  
  @keyframes imagefade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  .image-fader img:nth-of-type(1) {
    animation-delay: 27s;
  }
  .image-fader img:nth-of-type(2) {
    animation-delay: 18s;
  }
  .image-fader img:nth-of-type(3) {
    animation-delay: 9s;
  }
  .image-fader img:nth-of-type(4) {
    animation-delay: 0;
  }

